<%: func About(buffer *bytes.Buffer) %>
<h3>About this project</h3>
<p>The goal of this project is to create a simple static build website with no dependencies and no run-times, available on all
    major platforms, using <a href="https://golang.org/">Golang</a> with <a href="https://echo.labstack.com/">Echo Framework</a>
    and <a href="https://shiyanhui.github.io/hero">Hero templates</a> with <a href="https://getbootstrap.com/">Boostrap 4</a>.</p>
<p>Read more at <a href="https://github.com/ovicrisan/SiteGo">github.com/OviCrisan/SiteGo</a>.</p>
<p>For a ASP.NET Core version see <a href="https://github.com/ovicrisan/SiteNet">github.com/OviCrisan/SiteNet</a>.</p>
<p>Please visit my website <a href="http://crisan.ca/">Crisan.ca</a> or my blog <a href="http://ovi.crisan.ca/">Ovi.Crisan.ca</a> 
or follow me on Twitter <a href="https://twitter.com/Ovi_Crisan">@Ovi_Crisan</a>.</p>